<div class="container">
  <h1>Add Real Estate Catalog</h1>

  <form class="catalogForm" (submit)="createCatalog(catalogForm.value)">
    <dx-form [formData]="catalogForm.value">
    <dxi-item dataField="name" editorType="dxTextBox" [editorOptions]="{placeholder: 'Enter Name'}">
      <dxo-label text="Name"></dxo-label>
    </dxi-item>

    <dxi-item dataField="companyId" editorType="dxSelectBox" [editorOptions]="{items: company, displayExpr: 'companyName', valueExpr: 'id'}">
      <dxo-label text="Company"></dxo-label>
    </dxi-item>

    <dxi-item dataField="catalogTypeId" editorType="dxSelectBox" [editorOptions]="{items: catalogType, displayExpr: 'name', valueExpr: 'id'}">
      <dxo-label text="Catalog Type"></dxo-label>
    </dxi-item>

    <dxi-item dataField="description" editorType="dxTextBox">
      <dxo-label text="Description"></dxo-label>
    </dxi-item>

    <dxi-item itemType="button">
      <dxo-button-options text="Submit" type="default" [useSubmitBehavior]="true"></dxo-button-options>
    </dxi-item>
  </dx-form>
  </form>
</div>