<div class="container">

  <h1 class="app-title">Real Estate Management Application</h1>

  <p class="app-description">
      Welcome to our real estate management application. This platform facilitates the smooth selling of properties by connecting sellers and potential buyers. Our application is built using modern technologies like C#, .Net and Angular for a seamless and interactive experience.
  </p>

  <div class="user-roles">
      <h2>User Roles</h2>

      <div class="role">
          <h3>Administrator</h3>
          <p>Responsible for overall management and maintenance of the application.</p>
      </div>

      <div class="role">
          <h3>Seller/Client</h3>
          <p>Can present real estate to potential buyers, manage their real estate catalogs, and send invitations to clients via email to showcase their properties.</p>
      </div>

      <div class="role">
          <h3>Guest/Customer</h3>
          <p>Guests can explore real estate catalogs, view property images and descriptions, and contact sellers directly regarding specific properties.</p>
      </div>
  </div>

  <!-- <div class="contact">
      <h2>Contact a Seller</h2>
      <p>Find a property you're interested in? Use our built-in contact form to get in touch with the seller.</p>
      <button routerLink="/contact">Contact Now</button>
  </div> -->
</div>
