<ion-header>
  <ion-toolbar>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="registerUser()">

    <ion-item>
      <ion-label>Invite Code</ion-label>
      <ion-input type="text" [(ngModel)]="inviteCode" name="inviteCode" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" [(ngModel)]="userName" name="userName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full">Register</ion-button>
  </form>
</ion-content>
