<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Catalogs</ion-title>
  </ion-toolbar>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="filterCatalogItems()" placeholder="Search catalogs"></ion-searchbar>
  
  <ion-select placeholder="Select Catalog Type" [(ngModel)]="selectedCatalogType" (ionChange)="filterCatalogItems()">
    <ion-select-option [value]="null">Select Catalog Type</ion-select-option>
    <ion-select-option *ngFor="let type of catalogTypes" [value]="type.id">{{ type.name }}</ion-select-option>
  </ion-select>
  <!-- <ion-select placeholder="Select Company" [(ngModel)]="selectedCompany" (ionChange)="filterCatalogItems()">
    <ion-select-option *ngFor="let company of companies">{{ company.companyName }}</ion-select-option>
  </ion-select> -->
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>Name</ion-col>
      <!-- <ion-col>Type</ion-col> -->
      <ion-col>Company</ion-col>
    </ion-row>
    <ion-row *ngFor="let item of filteredCatalogs" (click)="openCatalogItem(item.id.toString())">
      <ion-col>{{ item.name }}</ion-col>
      <!-- <ion-col>{{ item.itemTypeName }}</ion-col> -->
      <ion-col>{{ item.companyName }}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreCatalogItems($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more catalogs...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
