.company-add-container {
  max-width: 500px;
  margin: 0 auto;

  .company-add-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
  }

  .company-add-form {
    .dx-form {

      .dx-texteditor.dx-textbox {
        margin-bottom: 10px;
      }

      .dx-selectbox {
        margin-bottom: 10px;
      }

      .dx-button {
        width: 100%;  
        height: 50px;
        line-height: 50px;
        margin-top: 20px;
        background-color: #007bff;
        &:hover {
          background-color: #0069d9;
        }
      }

    }
  }
}
